<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <!--文本-->
        <input type="text" placeholder="输入编辑" v-model="message">
        <p>message is:{{message}}</p>

        <!--多行文本-->
        <span>Multiline message is:</span>
        <!--这里style的作用是为了，换行-->
        <p style="white-space:pre">{{message}}</p>
        <textarea v-model="message" placeholder="输入文本换行"></textarea> 

        <!--复选框-->
        <input type="checkbox" id="checkbox" v-model="checked">
        <label >{{checked}}</label>

        <!--多个复选框-->
        <input type="checkbox" value="东东" v-model='checkedName'>
        <label for="东东">东东</label>
        <input type="checkbox" value="西西" v-model='checkedName'>
        <label for="西西">西西</label>
        <input type="checkbox" value="北北" v-model='checkedName'>
        <label for="北北">北北</label>
        <br>
        <p>{{checkedName}}</p>

        <!--单选按钮-->
        <input type="radio" value="one" v-model="cholse">
        <label for="one">one</label>
        
        <label for="two">two</label>
        <p>cholse is:{{cholse}}</p>
    </div>
    <script src="node_modules/vue/dist/vue.js"></script>
    <script>
        var app = new Vue({
            el:"#app",
            data:{
                message:'',
                checked:true,
                cholse:'',
                checkedName:[]
            },
            methods:{}
        })
    </script>
</body>
</html>